@use "../mediaQueries" as mq;

:root {
    --section-max-width: 700px;
    --color-text-base: var(--color-white);
    --color-text-hint: var(--color-secondary);
    --color-text-link: var(--color-primary-dark);
    --color-text-inverted: #000;
    --color-bg-input: blur(4px);
    --color-bg-button: var(--color-bg-input);
    --color-bg-base: var(--color-background);
    --color-bg-header: var(--color-bg-base);
    --color-bg-modal: var(--color-bg-base);
    --color-bg-modal-overlay: rgba(0, 0, 0, 0.8);
    --color-bg-chat: var(--color-tertiary);
    --color-bg-chat-bubble: var(--color-tertiary);
    --font-weight-bold: 600;
    --btn-size: 3.6rem;
    --form-col-template: minmax(380px, 460px) 1fr;
    --form-row-template: 1fr;
    --intro-text-align: left;
    --welcome-content-align-items: center;
    /* --app-col-template: 1fr minmax(220px, 340px); */
    /* --app-col-template: 2fr 0.5fr 0.5fr; */
    --app-col-template: 2fr minmax(330px, 340px);
    --app-row-template: 1fr;
}

@media (max-width: mq.$largeScreens) {
    /* Large Screens and below */
    :root {
        --form-col-template: 1fr;
        --form-row-template: auto 1fr;
        --intro-text-align: center;
        --welcome-content-align-items: flex-start;
        --app-col-template: 1fr;
        --app-row-template: 2fr minmax(200px, 1fr);
    }
}

input:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.form-grid {
    height: 100%;
    position: relative;
    display: grid;
    grid-template-columns: var(--form-col-template);
    grid-template-rows: var(--form-row-template);
    overflow: hidden;
}

.welcome {
    height: 100%;
    overflow: auto;
}

/* Intro */
.welcome__intro {
    /* background: url("../../assets/bg.jpg"); */
    background-size: cover;
    text-align: var(--intro-text-align);
}

.intro__inner {
    height: 100%;
    padding: 7rem;
}

.welcome__content {
    display: flex;
    align-items: var(--welcome-content-align-items);
    align-content: center;
    justify-content: center;
    text-align: var(--intro-text-align);
}

.content__inner {
    width: 300px;
}

@media (max-width: mq.$largeScreens) {
    .intro__inner {
        display: grid;
        place-items: center;
        padding: 2rem;
    }

    .welcome__content {
        padding: 2rem;
    }

    .content__inner {
        width: 100%;
    }
}

@media (min-width: 481px) and (max-width: mq.$largeScreens) {
    /* Large Screens and below */
    .form-grid {
        display: flex;
        flex-direction: row;
    }
}

.modal__overlay {
    z-index: 2;
}

.modal__el {
    z-index: 3;
}

/* Cams */
.cams {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 3rem 0;
    overflow-x: auto;
    background: transparent;
}

/* Player */
.player-wrapper {
    height: 100%;
    width: 100%;
    background: black;
    position: relative;
    overflow: hidden;

    display: flex;
    flex-direction: row;

    @media (max-width: mq.$mobile) {
        flex-direction: column;
    }
}

.el-player {
    width: 100%;
    height: 100%;
    position: absolute;
    /* position: fixed; */
    top: 0;
    background: #000;

    &.fullscreen {
        width: 80%;
        @media (max-width: mq.$mobile) {
            position: relative;
            width: 100%;
            height: 50%;
        }
    }
}

/* Controls */
.controls {
    display: flex;
    justify-content: left;
    padding: 2rem;
    max-width: 100vw;
}

@media (max-width: mq.$largeScreens) {
    /* Large Screens and below */
    .controls {
        padding: 1rem;
    }
}

.controls__btn {
    width: 44px;
    height: 44px;
    margin: 0 1rem;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

@media (max-width: mq.$mobile) {
    /* Smaller Screens */
    .controls__btn {
        margin: 0 0.5rem;
    }
}

.btn__svg {
    fill: var(--color-white);
}

.btn__svg--sm {
    height: 16px;
    width: 16px;
    position: relative;
    top: 2px;
}

.controls__btn--mic_on .btn__svg--mic_on {
    display: none;
}

.controls__btn--mic_off .btn__svg--mic_off {
    display: none;
}

.controls__btn--cam_on .btn__svg--cam_on {
    display: none;
}

.controls__btn--cam_off .btn__svg--cam_off {
    display: none;
}

.controls .btn--chat--container {
    position: relative;
}

.controls .btn--chat--unreadTag {
    position: absolute;
    top: -5px;
    left: 40px;
    margin: 0;
    height: auto;
    width: 24px;

    color: black;

    border-radius: 15px;

    background: lightgrey;
}

.controls .controls__btn--cam_on,
.controls .controls__btn--mic_on,
.controls .controls__btn--chat_on {
    background-color: var(--color-primary);
}

/* Overwrites */
input,
select {
    color: var(--color-text-hint);
}

a {
    color: var(--color-white);
    font-weight: 600;
}

a.btn {
    display: block;
    line-height: calc(var(--input-height) - var(--btn-border-size));
    text-align: center;
    border: 2px solid transparent;
    border-radius: var(--radius-small);
}

.btn--primary {
    color: var(--color-text-inverted);
}

.hidden {
    display: none !important;
}

.btn:disabled {
    opacity: 0.5;
}

.select__field {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='#D2D2D2' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
}

/* Player Overwrites */

#overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.overlay.fullscreen {
    width: 80%;

    @media (max-width: mq.$mobile) {
        width: 100%;
    }
}

#player-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    /* transition: background 0.1s ease-in-out; */

    display: grid;
    place-items: center;

    &.fullscreen {
        @media (max-width: mq.$mobile) {
            height: 50%;
        }
    }
}

.overlay--hover #player-controls {
    background: rgba(0, 0, 0, 0);
}

.overlay--hover .player-btn {
    display: flex;
}

.player-btn {
    outline: none;
    appearance: none;
    cursor: pointer;
    border: 2px solid transparent;
    -webkit-appearance: none;
    bottom: 10px;
    padding: 0;
    flex-shrink: 0;
    flex-wrap: nowrap;
    fill: #d9d9d9;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.player-btn--icon {
    width: var(--btn-size);
    height: var(--btn-size);
}

.player-btn:focus {
    border: 2px solid #d9d9d9;
}

.player-icon {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 100%;
    height: 100%;
}

.player-btn--pause .player-icon--pause {
    display: none;
}

.player-btn--play .player-icon--play {
    display: none;
}

.player-btn--mute .player-icon--volume_off {
    display: none;
}

.player-btn--unmute .player-icon--volume_up {
    display: none;
}

.player-btn--minimize .player-icon--fullscreen_off {
    display: none;
}

.player-btn--maximize .player-icon--fullscreen_on {
    display: none;
}
