.JoinInfoForm {
    &.Mobile {
        display: flex;
        flex-direction: row;
    }

    > div {
        display: grid;
        place-items: center;

        &:last-child {
            margin-left: 10px;
        }
    }
}
