.JoinInfoForm {
    > div {
        display: grid;
        place-items: center;
    }
}

.JoinInfoFormControls {
    padding: 25px 40px;
}

.BannerStripe {
    background-color: var(--color-primary);
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 146px;
    height: 109px;
}

.Banner {
    position: absolute;
    bottom: 41px;
}
