@use "../mediaQueries" as mq;

.SafariSupportWarningContainer {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);

    position: absolute;

    display: grid;
    place-items: center;

    z-index: 99;

    .SafariSupportWarning {
        padding: 5px;
        background-color: white;

        border-radius: 5px;

        max-width: 30vw;

        @media (max-width: mq.$largeScreens) {
            max-width: 90vw;
        }

        > a {
            color: black;
            background: red;
            border-radius: 5px;
            padding: 7px;

            margin: 10px;
        }

        > h1,
        p {
            text-align: center;
        }

        > p {
            margin: 5px 0;
        }
    }
}
