@use "../../styles/animations";
@use "../mediaQueries" as mq;

.SettingsContainer {
    @media (max-width: mq.$largeScreens) {
        height: 100%;
        overflow-y: auto;
        padding: 1.5rem;

        h1 {
            margin: 0 0 0.5rem 0;
        }

        h2,
        select,
        button {
            margin: 0;
        }

        h2,
        select {
            font-size: 1.4rem;
        }
    }

    @media (max-width: mq.$mobile) {
        height: 100%;
        width: 100%;
    }

    animation: fadeIn 0.5s;
    position: relative;

    option {
        color: black;
    }

    .CloseButton {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        border-radius: 50px;
        border: 2px solid lightgrey;
    }
}
