.Spinner {
    height: 100%;
    width: 100%;
    border: 3px solid grey;
    border-bottom: 3px solid rgb(201, 201, 201);
    border-radius: 50%;

    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
