**/.vscode/
.husky/
**/.idea/
**/node_modules/
**/lib/
**/dist/
**/build/

# For some reason this causes trouble
packages/fayr-ivp/src/index.js

# Gets dynamically built
packages/fayr-studio/src/assets/styles.css
