.StreamVolumeControl {
    position: relative;

    bottom: 0 !important;

    &:hover {
        .SliderContainer {
            opacity: 1;
        }
    }

    .SliderContainer {
        transition: opacity 0.25s ease-in-out;
        opacity: 0;

        position: absolute;
        width: 80%;
        height: 350%;
        // background-color: var(--color-bg-button);
        border-radius: 5px;
        // box-shadow: 0 0 7px grey;
        bottom: 46px;
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(5px);

        display: grid;
        place-items: center;

        .SliderRail {
            width: 25%;
            height: 85%;

            position: relative;

            display: grid;
            place-items: center;

            .SliderPin {
                position: absolute;

                bottom: 0;

                border-radius: 10px;

                background-color: #d9d9d9;
                height: 15px;
                width: 15px;

                cursor: pointer;
            }

            .SliderPin:hover,
            .SliderPin:active {
                outline: 1px solid var(--color--primary);
            }
        }
    }
}
