@use "../../mediaQueries" as mq;

:root {
    --chat-line-font-size: var(--room-link-label-font-size);
    --chat-line-padding: 0.5rem 1rem;
}

@media (max-width: mq.$largeScreens) {
    /* Large Screens and below */
    :root {
        --chat-line-padding: 0 1rem;
    }
}

.chat-line {
    padding: var(--chat-line-padding);

    background: var(--color-bg-chat-bubble);
    border-radius: var(--input-height);
    display: flex;
    margin: 0 0 5px 0;

    font-size: var(--chat-line-font-size);

    align-items: center;

    p {
        display: inline;
        font-weight: normal;
        overflow-wrap: anywhere;
    }

    .username {
        font-weight: 800;
        padding-right: 0.1rem;

        &::after {
            content: " ";
        }
    }

    .chat-line_timestamp {
        margin: 0 10px;
        visibility: hidden;
    }

    &:hover {
        .chat-line_timestamp {
            visibility: visible;
        }
    }
}

.chat-line_leftsection {
    max-width: 85%;

    overflow-wrap: break-word;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;

    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    color: white;

    .self {
        color: lightblue;
    }

    .other {
        color: #fa7751;
    }
}

.outgoing_chat {
    flex-direction: row-reverse;
}

.incoming_chat {
    flex-direction: row;
}

.chat-line__link {
    color: var(--color-text-link);
    text-decoration: underline;
}
