.ParticipantVideoEmojiEnter {
    opacity: 0;
}

.ParticipantVideoEmojiEnterActive {
    opacity: 1;
    transition: all 1s;
}

.ParticipantVideoEmojiExit {
    opacity: 1;
}

.ParticipantVideoEmojiExitActive {
    opacity: 0;
    transition: all 1s;
}

.Spinner {
    height: 16px;
    width: 16px;
}

.ParticipantName {
    color: white;
}
