:root {
	--chat-line-font-size: var(--room-link-label-font-size);
	--chat-line-padding: 0.5rem 1rem;
}

@media (max-width: 960px) {

	/* Large Screens and below */
	:root {
		--chat-line-padding: 0 1rem;
	}
}

.chat-line {
	font-size: var(--chat-line-font-size);
	padding: var(--chat-line-padding);

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.chat-line__link {
	color: var(--color-text-link);
	text-decoration: underline;
}

.chat-line .chat-line_timestamp {
	visibility: hidden;
}

.chat-line:hover .chat-line_timestamp {
	visibility: visible;
}