.FullScreen {
    width: 80%;
}

.PlayerControlsContainer {
    position: absolute;
    top: 5%;
    right: 5%;
    width: 90%;

    .PlayerControls {
        > div,
        button {
            margin-left: 0px;
        }
    }
}
