@use "../../mediaQueries" as mq;

.FullScreen {
    width: 80%;

    @media (max-width: mq.$mobile) {
        width: 100%;
    }
}

.PlayerControlsContainer {
    position: absolute;
    top: 5%;
    right: 5%;
    width: 90%;
}
