.ReactionButtonContainer {
    // height: 70px;

    // width: 150%;

    border: 1px solid black;
    border-radius: 10px;
    background-color: lightgrey;

    .ReactionButtonInfo {
        margin: 0 5px;
        color: black;
    }

    .ReactionButtonSelection {
        span {
            span {
                font-size: 1.75em;
            }
        }
    }
}
