.Controls {
	display: flex;

	position: relative;
	padding: 2rem;
	// max-width: 100vw;

	top: 0px;
	left: 0px;

	overflow-x: clip;
	
	// left: -50%;
	align-items: center;
	// transform: translateX(50%);

	justify-content: center;

	transition: transform 0.5s ease-in-out;

	.ControlsMinified{
		left: 0%;
		transform: none;
		position: relative;
	}

	@media (max-width: 960px) {		
		padding: 0.5rem;

		&.Minified {
			left: 0%;
			transform: none;

			.ControlsMinified {
				display: grid;
				grid-template-columns: 35px 35px;
				grid-template-rows: 35px 35px;
				place-items: center;
				
				background: #505050;
				border-radius: 5px;

				padding: 5px;

				&:hover {
					background: #7e7e7e;
				}
			}

			.Button {
				height: 30px;
				width: 30px;

				pointer-events: none;

				margin: 0;
			}
		}

		&.ChatOpen {
			transform: translateX(-20%);
		}
	}

	.Button {
		margin: 0 1rem;
		display: flex;

		flex-grow: 1;
		align-items: center;
		align-content: center;
		justify-content: center;

		max-width: 42px;

		cursor: pointer;
		margin: 0;	
		
		@media (min-width: 960px) {
			margin: 0 0.5rem;
		}
		
		@media (max-width: 365px) {
			max-height: 10vw;
			max-width: 10vw;
		}

		svg {
			height: calc(100% - 2rem);
			width: calc(100% - 2rem);
		}

		&.Active {
			background-color: var(--color--destructive);
		}

		&.ChatContainer {
			position: relative;

			.UnreadTag {
				position: absolute;
				top: -5px;
				left: calc(100% - 1rem - 5px);
				margin: 0;
				height: auto;
				width: 24px;
			
				color: black;
			
				border-radius: 15px;
			
				background: lightgrey;
				z-index: 5;
			}
		}

		&.ReactionButton {
			position: relative;
			z-index: 500;

			> span {
				font-size: 1.5em;
			}

			* span {
				user-select: none;
			}

			&:active {
				.ReactionRow {
					top: -47px;
					right: -2px;
				}
			}
			
			.ReactionRow {
				position: absolute;

				top: -45px;
				right: 0px;
				height: 42px;
			}
		}

		&.VotingButton {
			cursor: pointer;

			> span {
				cursor: pointer !important;
			}
		}
	}
}
    
  .btn__svg--sm {
	height: 16px;
	width: 16px;
	position: relative;
	top: 2px;
  }