.Meeting {
	.MainStage {
		overflow-x: hidden;
		position: relative;

		.Chat {
			height: 100%;
			width: 22%;
			position: absolute;
			right: 0;
			bottom: 0;

			@media (max-width: 1024px) {
				width: 40%;
			}
		}
	}

	.CamContainer {
		max-width: 355px;

		@media (max-width: 960px) {
			width: 200px;
		}

		.CamSection {
			height: 100%;
	
			> div:first-of-type {
				height: 20%;
			}
			
			> div:nth-of-type(2) {
				height: 80%;
			}
		}
	}
}