.RemoteVideoEmojiEnter {
	opacity: 0;
}

.RemoteVideoEmojiEnterActive {
	opacity: 1;
	transition: all 1s;
}

.RemoteVideoEmojiExit {
	opacity: 1;
}

.RemoteVideoEmojiExitActive {
	opacity: 0;
	transition: all 1s;
}