@import "../../styles/animations";

.SettingsContainer {
    @media (max-width: 960px) {
        overflow-y: auto;
    }

    @media (max-width: 480px) {
        width: 100%;
    }

    animation: fadeIn 0.5s;

    option {
        color: black;
    }
}
