.OverviewPageContainer {

	height: 100%;
	width: 100%;
	display: grid;
	place-items: center;
	background-color: black;

	.OverviewPage {
		width: 70%;
		height: 80%;
		overflow-y: auto;

		.RankSection {
			height: 100%;
			display: grid;
			place-items: center start;

			> span {
				font-weight: 500;
				font-size: 2rem;
			}
		}

		.TeamIcon {
			background-color: white;

			&.GuestTeamIcon {
				background-color: red;
			}

			display: grid;
			place-items: center;

			> img {
				width: 50px;
				height: 50px;
			}
		}

		.RankGrid {
			height: 100%;
			> div {
				min-height: 30px;
				width: 100%;

				&:not(:last-child) {	
					border-bottom: 2px groove #fa7751;
				}

				> span {
					color: #fa7751;
					font-size: 2rem;
					font-weight: 800;
				}

				.Rank {
					margin-left: 15px;
					flex-grow: 5;
				}

				.Attendee {
					flex-grow: 5;
				}

				.Host {
					width: 60px;
					margin-right: 2rem;
					text-align: center
				}

				.Guest {
					width: 60px;
					text-align: center;
				}
			}
		}
	}
}