@use "../mediaQueries" as mq;

.PlayerWrapper {
    height: 100%;
    width: 100%;
    background: black;
    position: relative;
    overflow: hidden;

    display: flex;
    flex-direction: row;

    @media (max-width: mq.$mobile) {
        flex-direction: column;
    }

    .Overlay {
        opacity: var(--videoplayer-controls-opacity) !important;
    }

    .Reaction {
        position: absolute;

        * span {
            font-size: 2rem;
        }
    }

    .ReactionEmojiEnter {
        opacity: 0;
    }

    .ReactionEmojiEnterActive {
        opacity: 1;
        transition: all 1s;
    }

    .ReactionEmojiExit {
        opacity: 1;
    }

    .ReactionEmojiExitActive {
        opacity: 0;
        transition: all 1s;
    }

    .VideoPlayer {
        top: 0;
        background: #000;
        height: 100%;
        width: 100%;
        position: relative;

        video {
            height: 100%;
            width: 100%;
        }

        &.fullscreen {
            width: 80%;
            @media (max-width: mq.$mobile) {
                position: relative;
                width: 100%;
                height: 50%;
            }
        }
    }

    .FullScreenCams {
        height: 100%;
        width: 20%;
        z-index: 5000;

        > div {
            height: 100%;
        }

        @media (max-width: mq.$mobile) {
            height: 50%;
            width: 100%;
        }
    }

    .AdOverlay {
        position: absolute;
        left: 0;
        right: 0;
        top: 14%;
        bottom: 10%;
        z-index: 999;
        background-image: url("../../assets/vfb-ad.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position-y: center;
        user-select: none;
    }
}
