.ArDiv {
    width: 1400px;
    height: 700px;
    visibility: hidden;
    background-image: url("/assets/klipartz.com.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
