.Container {
    height: 100%;
    width: 100%;

    .HorizontalLine {
        position: relative;
        height: 5px;
        width: 100%;

        $border-radius: 10px;

        background-color: #c4c4c4;
        border-radius: $border-radius;

        .VolumeIndicator {
            position: absolute;
            height: 100%;
            width: 0%;
            left: 0px;

            background-color: #24d366;
            border-radius: $border-radius;

            transition: width 0.2s ease-in-out;
        }
    }
}
