$height: 50vh;
$width: 30vw;

.Container {
    position: relative;
    top: calc((100vh - $height) / 2);
    left: calc((100vw - $width) / 2);

    height: $height;
    width: $width;

    place-items: center;

    background-color: grey;

    border-radius: 20px;

    .Header {
        display: grid;
        place-items: center;

        span {
            font-size: 3rem;
        }
    }

    .CamPreviewCell {
        height: 100%;
        width: 100%;

        .VideoPreviewContainer {
            border: 3px solid rgb(68, 67, 67);
            border-radius: 10px;
            background-color: black;
            box-shadow: 0 0 12px 5px rgba(0, 0, 0, 0.4);
            position: relative;

            margin: 10px 10px 10px 10px;

            height: 100%;
            max-height: 100%;
            max-width: 100%;

            video {
                height: 100%;
                width: 100%;
                max-height: 100%;
                max-width: 100%;
            }

            .NoCamSelected {
                position: absolute;
                display: grid;
                place-items: center;
                height: 100%;
                width: 100%;
            }
        }
    }

    .Selection,
    .ContinueButton {
        margin-top: 1rem;
    }

    .Selection {
        > div {
            > div:nth-of-type(2) {
                margin-top: 1rem;
            }
        }
    }

    .ContinueButton {
        width: 5rem;
    }
}
