@use "../../mediaQueries" as mq;

@mixin CamSection {
    height: 100%;

    .HighlightVideoWrapper {
        height: 25%;

        @media (max-width: mq.$mobile) {
            height: 35%;
            width: auto;
        }
    }

    .ParticipantVideoWrapper {
        height: 75%;

        @media (max-width: mq.$mobile) {
            height: 65%;
        }
    }
}

.Meeting {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    overflow: hidden;

    @media (max-width: mq.$mobile) {
        /* Tall Screens and below */
        flex-direction: column;
    }

    .MainStage {
        height: 100%;
        position: relative;

        display: flex;
        flex-grow: 1;
        flex-direction: column;

        overflow: hidden;

        :global {
            --videoplayer-controls-opacity: 0;
        }

        &:hover {
            :global {
                --videoplayer-controls-opacity: 1;
            }
        }

        audio {
            display: none;
        }

        @media (max-width: mq.$mobile) {
            flex-grow: 3;
            height: unset;
        }
    }

    .CamContainer {
        @include CamSection();

        width: 355px;

        > div {
            height: 100%;

            @media (max-width: mq.$mobile) {
                height: 60%;
            }
        }

        @media (max-width: mq.$largeScreens) {
            width: 25%;
        }

        @media (max-width: mq.$mobile) {
            flex-grow: 1;
            max-height: 50%;
            width: 100%;
            max-width: unset;
        }
    }

    @include CamSection();
}
