@import "../../../../styles/animations";

.VotingContainer {
    position: absolute;

    display: grid;
    place-items: center;

    height: 100%;
    width: 100%;

    z-index: 99999;

    animation: fadeIn 0.5s;

    * span,
    img {
        user-select: none;
    }

    &.VotingActive {
        background-color: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(6px);
    }

    .VotingWrapper {
        height: 60vh;
        width: 90%;
        max-width: 1000px;

        position: relative;

        @media (max-width: 480px) {
            height: 45vh;
        }
    }
}
