.VotingContainer {
	position: absolute;

	display: grid;
	place-items: center;

	height: 100vh;
	width: 100vw;

	z-index: 99999;

	&.VotingActive {
		background-color:rgba(255, 255, 255, 0.3);
		backdrop-filter: blur(6px);
	}

	.VotingWrapper {
		height: 60vh;
		width: 90vw;
		max-width: 800px;

		position: relative;
	}
}