.VotingWrapper {
	height: 100%;
	width: 100%;
	.Voting {

		height: 100%;
		width: 100%;

		.TeamIcon {
			display: flex;
			align-content: center;
			justify-content: center;

			background-color: white;

			> img {
				object-fit: scale-down;
			}
		}

		.VotingSectionContainer {
			display: grid;
			place-items: center;

			background: black;

			.VotingSection {
				height: 100%;
				width: 80%;
			}
		}
	}

	.TipButton {
		height: 50px;
		width: 300px;

		margin-left: 50px;

		background: #4081c7;

		cursor: pointer;

		display: grid;
		place-items: center;
		font-size: 3rem;

		border-radius: 10px;

		box-shadow: 0 0 10px grey;
	}
	
	.CloseButton {
		height: 50px;
		width: 50px;
		background-color:rgba(0, 0, 0, 0.3);
		border-radius: 5px;
		margin-left: 10px;

		display: grid;
		place-items: center;

		cursor: pointer;

		> span {
			cursor: pointer !important;
		}
	}
}