@use "../../mediaQueries" as mq;

.CamSection {
    height: 100vh;

    @media (max-width: mq.$mobile) {
        display: flex;
        flex-direction: row;
    }

    .HighlightVideoWrapper {
        height: 25%;

        @media (max-width: mq.$mobile) {
            height: 100%;
            width: 30%;
        }
    }

    .ParticipantVideoWrapper {
        height: 75%;

        @media (max-width: mq.$mobile) {
            height: 100%;
            width: 70%;
        }
    }
}
