.CamSection {
    height: 100vh;

    .HighlightVideoWrapper {
        height: 20%;

        @media (max-width: 480px) {
            height: 35%;
            width: auto;
        }
    }

    .ParticipantVideoWrapper {
        height: 80%;

        @media (max-width: 480px) {
            height: 65%;
        }
    }
}
