@mixin CamSection {
    height: 100vh;

    .HighlightVideoWrapper {
        height: 25%;

        @media (max-width: 480px) {
            height: 35%;
            width: auto;
        }
    }

    .ParticipantVideoWrapper {
        height: 75%;

        @media (max-width: 480px) {
            height: 65%;
        }
    }
}

.Meeting {
    height: 100vh;
    .MainStage {
        overflow-x: hidden;
        position: relative;

        @media (max-width: 480px) {
            flex-grow: 3;
            height: unset;
        }
    }

    .CamContainer {
        @include CamSection();

        height: 100vh;
        width: 355px;

        > div {
            height: 100%;
        }

        @media (max-width: 960px) {
            width: 25%;
        }

        @media (max-width: 480px) {
            flex-grow: 1;
            max-height: 50%;
            width: 100%;
            max-width: unset;
        }
    }

    @include CamSection();
}
