/* How to add fonts: https://dev.to/thomasvanholder/add-a-custom-tailwind-css-fonts-to-your-website-1nn6 */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;

@tailwind components;

@tailwind utilities;



html {
    /* Global scale */
    font-size: 16px;
}

body {
    background: #f3f3f3 !important;
}

p {
    margin: 2px 0;
}

fieldset.MuiFormControl-root {
    margin-bottom: 20px;
}

*[draggable] {
    cursor: move !important;
}

/*
    https://github.com/tailwindlabs/tailwindcss/discussions/2394
    https://github.com/tailwindlabs/tailwindcss/pull/5732
*/
@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        /*noinspection CssUnknownProperty*/
        scrollbar-width: none; /* Firefox */
    }
}
