@tailwind base;

@tailwind components;

@tailwind utilities;

html {
    /* Global scale */
    font-size: 16px
}

body {
    background: #f3f3f3 !important;
}

p {
    margin: 2px 0;
}

fieldset.MuiFormControl-root {
    margin-bottom: 20px;
}

*[draggable] {
    cursor: move !important;
}

/*
    https://github.com/tailwindlabs/tailwindcss/discussions/2394
    https://github.com/tailwindlabs/tailwindcss/pull/5732
*/
@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        /*noinspection CssUnknownProperty*/
        scrollbar-width: none; /* Firefox */
    }
}
