@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "SF-Pro-Regular";
    src: url("../public/fonts/SF-Pro-Text-Regular.otf");
}

@font-face {
    font-family: "SF-Pro-Bold";
    src: url("../public/fonts/SF-Pro-Text-Bold.otf");
}

@font-face {
    font-family: "Winner-Sans-Narrow-Bold";
    src: url("../public/fonts/Winner-Sans-Narrow-Bold.otf");
}

@layer base {
    body {
        @apply font-sfproregular text-[#D9D9D9] bg-[#07090C];
    }

    h1 {
        @apply font-winnersansbold text-[#D9D9D9]
    }

    header {
        @apply fixed font-winnersansbold text-[#D9D9D9] drop-shadow-xl top-0 z-50 flex w-full items-center justify-between px-4 py-4 transition-all lg:px-10 lg:py-6 bg-gradient-to-b from-[#07090C] to-transparent;
    }

}

@layer components {
    .headerLink {
        @apply cursor-pointer text-base text-[#D9D9D9] transition duration-[.4s] hover:text-[#FA7751];
    }
    .heroslide {
        @apply absolute drop-shadow-lg top-[50%] right-[30%] left-[4.0%] z-10
    }
    .calltoaction {
        @apply inline-flex font-winnersansbold items-center border border-transparent shadow-sm rounded-md text-[#07090C] bg-[#FA7751] hover:bg-[#07090C] hover:text-[#FA7751] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#07090C] 
        px-3 py-1 text-sm leading-4 font-medium mx-1 my-0.5
        lg:px-7 lg:py-3 lg:text-xl lg:font-medium lg:mx-1 lg:my-5
    }
    .infobutton {
        @apply inline-flex font-winnersansbold items-center border border-transparent shadow-sm rounded-md text-[#07090C] bg-[#D9D9D9] hover:bg-[#07090C] hover:text-[#D9D9D9] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#07090C]
        px-3 py-1 text-sm leading-4 font-medium mx-1 my-0.5
        lg:px-7 lg:py-3 lg:text-xl lg:font-medium lg:mx-1 lg:my-5
    }
    .signup {
        /* @apply inline-flex items-center px-3 py-2 border border-transparent shadow-sm text-base leading-4 font-medium rounded-md text-[#07090C] bg-[#FA7751] hover:bg-[#07090C] hover:text-[#FA7751] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#07090C] */
        @apply inline-flex font-winnersansbold items-center border border-transparent shadow-sm rounded-md text-[#07090C] bg-[#FA7751] hover:bg-[#07090C] hover:text-[#D9D9D9] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#07090C]
        px-3 py-1 text-sm leading-4 font-medium mx-1 my-0.5
        lg:px-3 lg:py-2 lg:text-base lg:font-medium
    }
    .menu {
        @apply inline-flex items-center px-2 py-2 border border-transparent shadow-sm leading-4 font-medium rounded-md text-[#D9D9D9] bg-transparent hover:bg-[#07090C] hover:text-[#D9D9D9]
    }
}