.ParticipantVideoGroup {
    height: 100%;

    @media (max-width: 480px) {
        .cam {
            display: flex;
            flex-direction: row;

            .cam__meta {
                display: flex;
                flex-direction: column;

                max-width: 30%;

                .cam__meta_name {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    max-width: 100%;
                }
            }
        }
    }
}
