.Meeting {
    .MainStage {
        overflow-x: hidden;
        position: relative;

        @media (max-width: 480px) {
            flex-grow: 3;
            height: unset;
        }
    }

    .CamContainer {
        width: 355px;

        @media (max-width: 960px) {
            width: 25%;
        }

        @media (max-width: 480px) {
            flex-grow: 1;
            max-height: 50%;
            width: 100%;
            max-width: unset;
        }

        .CamSection {
            height: 100%;

            > div:first-of-type {
                height: 20%;

                @media (max-width: 480px) {
                    height: 35%;
                    width: auto;
                }
            }

            > div:nth-of-type(2) {
                height: 80%;

                @media (max-width: 480px) {
                    height: 65%;
                }
            }
        }
    }

    .CamSection {
        height: 100%;

        > div:first-of-type {
            height: 20%;

            @media (max-width: 480px) {
                height: 35%;
                width: auto;
            }
        }

        > div:nth-of-type(2) {
            height: 80%;

            @media (max-width: 480px) {
                height: 65%;
            }
        }
    }
}
