.ContentInner {
    display: grid;
    place-items: center;

    .HowItWorksLink {
        margin-top: 20px;
        font-weight: 350;
        color: var(--color-gray);
        text-decoration: underline;
        cursor: pointer;
    }
}
