@font-face {
    font-family: "SFPro";
    src: url("/fonts/sfproregular.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
  font-family: "Frutiger Next";
  src: url("/fonts/FrutigerNextLT-Regular.ttf");
  font-style: normal;
  font-weight: auto;
}

@font-face {
  font-family: "Frutiger Next";
  src: url("/fonts/FrutigerNextLT-RegularItalic.ttf");
  font-style: italic;
  font-weight: auto;
}

@font-face {
  font-family: "Frutiger Next";
  src: url("/fonts/FrutigerNextLT-Medium.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Frutiger Next";
  src: url("/fonts/FrutigerNextLT-MediumItalic.ttf");
  font-style: italic;
  font-weight: normal;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    font-family: "SFPro";
    box-sizing: border-box;
}

#__next {
    min-height: 100vh;
}
