@use "../../styles/animations";
@use "../mediaQueries" as mq;

.SettingsContainer {
    @media (max-width: mq.$largeScreens) {
        overflow-y: auto;
    }

    @media (max-width: mq.$mobile) {
        width: 100%;
    }

    animation: fadeIn 0.5s;

    option {
        color: black;
    }
}
